<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'metodo:portada' %}">Inicio
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link" href="{% url 'metodo:lista_hallazgos' %}">Hallazgos</a>
            <a class="nav-item nav-link" href="{% url 'metodo:hallazgo' %}">Nuevo</a>
            <a class="nav-item nav-link" href="#">Pendientes</a>
        </div>
    </div>
</nav>