
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="col navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'metodo:portada' %}">Inicio
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link" href="{% url 'metodo:lista_hallazgos' %}">Hallazgos</a>
            <a class="nav-item nav-link" href="{% url 'metodo:hallazgo' %}">Nuevo</a>
            <a class="nav-item nav-link" href="#">Pendientes</a>
        </div>
        {% if objeto %}
         <div class="col align-self-end">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0 float-right" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@mdo">Nueva Causa</button>
            
         </div>
        {% endif %}
    </div>
</nav>