{% extends 'base/base.html' %}

{% block content %} 
{% include 'componentes/navbar.html' %}

<div class="container">
    <div class="raw">
        <div>
            <ul class="list-group list-group-flush">
                {% for obj in object_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ obj.get_absolute_url }}">{{obj.hallazgo}} - {{obj.creado}}</a>
                    <span class="badge badge-primary badge-pill">{{ obj.pk }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}

