{% extends 'base/base.html' %}

{% block content %}
{% include 'componentes/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Ishikawa App</h1>
                    <p class="lead">En esta aplicación podrás hacer tus analisis para la mejora de tus procesos</p>
                    <hr class="my-4">
                    <p>Click abajo para crear un nuevo Ishikawa</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'metodo:hallazgo' %}" role="button">Crear Ishikawa</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h1 class="display-4">Consultar Lista</h1>
                        <p class="lead">Revisa todos los diagramas que tienes en ejecucion</p>
                        <hr class="my-4">
                        <p>Click abajo para consultar la lista</p>
                        <p class="lead">
                            <a class="btn btn-success btn-lg" href="{% url 'metodo:lista_hallazgos' %}" role="button">Consultar Lista</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="{% url 'logout' %}" role="button">Salir</a>
    </p>
</div>

{% endblock %}
